body
{
    margin: 0;
    padding: 0;
}

.container
{
    width: 100%;
    height: 350px;
    

}

.container .box1
{
    position: relative;
    width: 350px;
    background: lightblue;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.container .box1 .img1
{
    top: 0;
    left: 0;
    width: 350px;
    background: #00cec9 ;
    transition: 0.5s;
    z-index: 1;
}



.container .box2
{
    position: relative;
    width: 350px;
    background: #00cec9;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.container .box2 .img2
{
    top: 0;
    left: 0;
    width: 350px;
    background: #ff7675 ;
    transition: 0.5s;
    z-index: 1;
}

.container .box3
{
    position: relative;
    width: 350px;
    background: #ff7675;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.container .box3 .img3
{
    top: 0;
    left: 0;
    width: 350px;
    background: #f7d794 ;
    transition: 0.5s;
    z-index: 1;
}

.container .box4
{
    position: relative;
    width: 350px;
    background: #f7d794;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.container .box4 .img4
{
    top: 0;
    left: 0;
    width: 350px;
    background: #00cec9 ;
    transition: 0.5s;
    z-index: 1;
}
.container .box1 .content 
{
    color: black;
}


.container .box1 .content p
{
    color: black;
}

.container .box2 .content 
{
    color: black;
}


.container .box2 .content p
{
    color: black;
}

.container .box3 .content 
{
    color: black;
}


.container .box3 .content p
{
    color: black;
}

.container .box4 .content 
{
    color: black;
}


.container .box4 .content p
{
    color: black;
}