*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    width: 100%;
    line-height: 20vh;
    background-color: blue;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom:blue;
}

h1
{
    font-family: 'Bradley Hand', cursive;
    text-align: center;
    color: yellow;
    font-size: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    word-spacing: 10px;
}

section
{
    height: 80vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #192a56;
}

.gameArea
{
    width: 50%;
    height: 400px;
    padding: 20px 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 20px 20px -9px black;
    border-radius: 20px;
    border: 5px solid white;
}

.start
{
    font-family: 'Bradley Hand', cursive;
    font-size: 35px;
    color: red;
    transform: translate(0, -30px);
}

input
{
    width: 55%;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: lightgray;
    color: black;
    margin-bottom: 35px;
    font-size: 1.4rem;
}

button
{
    font-family: 'Bradley Hand', cursive;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: 1px solid blue;
    text-decoration: none;
    margin-top: 10px;
    color: blue;
    border-radius: 500px;
}

button.btn
{
    font-weight: 600;
    padding: 1rem 2rem;
    background: lightblue;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.65, -0.25, 0.25, 1.95);
}

button.btn:hover,
button.btn:active,
button.btn:focus
{
    letter-spacing: 0.125rem;
    word-spacing: 0.2rem;
}

.score
{
    font-family: 'Bradley Hand', cursive;
    font-size: 30px;
    padding: 10px 0;
    transform: translate(0, -30px);
    color: greenyellow;
    text-transform: uppercase;
    text-emphasis-style: circle;
}

.score-1
{
    color: darkblue;
}

.hidden
{
    display: none;
}